# Copia este archivo a .env y ajusta los valores.
# .env NUNCA se commitea (esta en .gitignore).

APP_NAME=linkshort
LOG_LEVEL=INFO
BASE_URL=http://localhost:8000

# Postgres
POSTGRES_USER=linkshort
POSTGRES_PASSWORD=cambiame_en_local
POSTGRES_DB=linkshort
DATABASE_URL=postgresql+psycopg://linkshort:cambiame_en_local@localhost:5432/linkshort
